@font-face {
  font-family: "HelveticaNeueLight";
  src: url('fonts/HelveticaNeueLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url('fonts/HelveticaBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaRegular";
  src: url('fonts/HelveticaRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaOblique";
  src: url('fonts/HelveticaOblique.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url('fonts/HelveticaLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url('fonts/GothamProBlack.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.menu2, .menu3 {
  text-align: center;
}

.menu3 {
  background-color: #1e1e1e;
}

.menu2_item, .menu3_item {
  display: inline-block;
  padding: 1%;
}

.menu2_item a {
  font-family: 'HelveticaLight';
  font-size: 14pt;
  color: #141414;
  height: 100%;
}

.menu3_item a {
  font-family: 'HelveticaLight';
  font-size: 12pt;
  color: #f5f5f5;
}

.menu2_item:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.menu3_item:hover {
  background-color: #141414;
  cursor: pointer;
}




.top_author {
  margin-top: 2%;
  display: inline-block;

}

.info_container {
  vertical-align: middle;
}

.photo_author {
  width: 40%;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
}

.name_author {
  margin-top: 5%;
}

.info {
  margin-top: 1%;
}

.info span {
  font-family: 'HelveticaNeueLight';
  font-size: 14pt;
  color: #141414;
}

.contacts ul {
  display: block;
  list-style-type: none;
}

.contacts_container {

}

.contact_icon {
  display: inline-block;
  margin: 2% 0.5% 1% 0.5%;
}

.contact_icon a img {
  width: 70%;
}

.contacts ul li {
  margin-top: 5px;
}

.contacts ul li a {
  font-family: 'HelveticaNeueLight';
  font-size: 14pt;
  color: #141414;
  text-decoration: underline;
}

.contacts ul li a:hover {
  color: #959595;
}

.item {
  margin: 1% 5% 1% 5%;
  padding: 1% 2% 1% 2%;
  background-color: #ebebeb;
}

#current_job {
  background-color: inherit;
}

.position {
  font-family: "HelveticaBold";
  font-size: 18pt;
  color: #141414;
}

.organization {
  font-family: "HelveticaRegular";
  font-size: 18pt;
  line-height: 1.5;
  color: #141414;
}

#organization_top {
  font-size: 14pt;
}

.duration {
  font-family: "HelveticaLight";
  font-size: 14pt;
  color: #141414;
}

.description {
  font-family: "HelveticaRegular";
  font-size: 12pt;
  color: #828282;
}

.add_spec {
  font-family: "HelveticaRegular";
  font-size: 18pt;
  color: #141414;
  text-decoration: underline;
}

.interests_container {
  text-align: center;
}

.fields_container {
  text-align: left;
}

.interest_item {
  display: inline-block;
  padding: 1%;
  margin: 0.5%;
  border: solid 1px #141414;
  border-radius: 10px;
  background-color: #ebebeb;
  font-family: "HelveticaLight";
  font-size: 14pt;
}

.field_item {
  display: inline-block;
  padding: 1%;
  margin: 0.5%;
  border: solid 1px #141414;
  border-radius: 10px;
  background-color: #e6e6e6;
  font-family: "HelveticaLight";
  font-size: 14pt;
}

summary {
  font-family: "HelveticaRegular";
  font-size: 18pt;
  color: #141414;
  padding-left: 2%;
}

summary:hover {
  cursor: pointer;
  color: #828282;
  text-decoration: underline;
}

#languages ul li {
  font-family: "HelveticaRegular";
  font-size: 18pt;
  padding: 0.5%;
}

.pub_item {
  font-family: "HelveticaRegular";
  font-size: 18pt;
  line-height: 1.5;
  color: #141414;
}

.journal {
  font-family: "HelveticaOblique";
  font-size: 18pt;
  line-height: 1.5;
  color: #141414;
}

.on_review {
  font-family: "HelveticaLight";
  font-size: 18pt;
  line-height: 1.5;
  color: #141414;
}
