@font-face {
  font-family: "HelveticaNeueLight";
  src: url('/fonts/HelveticaNeueLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url('/fonts/HelveticaBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaRegular";
  src: url('/fonts/HelveticaRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url('/fonts/HelveticaLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url('/fonts/GothamProBlack.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.material {
  margin-left: 2%;
}

.duration {
  font-family: "HelveticaLight";
  font-size: 14pt;
  color: #141414;
}

.material a {
  font-family: "HelveticaRegular";
  font-size: 18pt;
  color: #141414;
  text-decoration: underline;
}

.material a:hover {
  font-family: "HelveticaRegular";
  font-size: 18pt;
  color: #828282;
  text-decoration: none;
}

a.disabled {
  text-decoration: none;
  pointer-events: none;
  color: #828282;
}
