.error {
	font-family: "Montserrat-ExtraBold";
	font-size: 72px;
	text-align: center;
	margin: 10% 0 5% 0;
}

.text {
	font-family: "Montserrat-SemiBold";
	font-size: 72px;
	text-align: center;
	margin: 5% 0 15% 0;
}

footer.page404 {
	
}