#msg {
  color:white;
  font-size: 70px;
  text-align:center;
  vertical-align: middle;
  font-family:helvetica bold;
  animation: intro 2s;
}

#blank {
  display: table-cell;
  height:150px;
}

body {
  background-color: black;
  background-size: 100%;
}

@keyframes intro{
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform:scale(1);
    opacity: 100;
  }
}
