.error404 {
  font-family: "GothamProBlack";
  font-size: 100px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.error404_text {
  font-family: 'HelveticaBold';
  font-size: 100px;
  text-align: center;
}

#footer404 {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
}
