h1 {
  font-family: "HelveticaBold";
  font-size: 34px;
  padding: 1% 1.5%;
  background-color: #141414;
  color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 0;
  margin-top: 5%;
}

.material {
  margin-left: 2%;
}

.material a {
  font-family: "HelveticaRegular";
  font-size: 21px;
  color: #141414;
  text-decoration: underline;
}

.material a:hover {
  text-decoration: none;
}

a.disabled {
  text-decoration: none;
  pointer-events: none;
  color: #828282;
}

.duration {
  font-family: "HelveticaLight";
  font-size: 16px;
  color: #141414;
}
